<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= user.street %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= user.postal_code %>
  </p>

</div>
